.calculator{
    display: flex;
    width: 100%;
  
    

    
}

.calculator__right__inner{
    flex-grow: 1;
    background-color: rgba($color: #be2b2b44, $alpha: .1);

}

.calculator__left__inner{
    display: flex;
    flex-grow: 1.2;
    flex-basis: 0;
    flex-direction: column;
    


    background-color: rgba($color: #19939744, $alpha: .1);

    h3{
        margin-left: 20px;
        font-family: Raleway;
        width: fit-content;
        
    }

    section{
        display: flex;
        flex-direction: column;

        flex-grow: 2;
        border-bottom-left-radius: 12px;
        background-color: rgba($color: #12cc312c, $alpha: .1);
    }

    .option__list{
        
        padding: 0;
        text-align: bottom;
        
        list-style: none;
        margin: 0 0 0 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li{
          display: flex;
          align-items: center;
          flex-grow: 1;
          border-bottom: 2px solid rgba(49, 49, 49, 0.6);

         
           
          }


      

        input{
            margin-right: 10px;
        }

      

        

        h5{
            display:inline; 
            font-family: Raleway;
            margin: 15px 0 15px 0;
            width: fit-content;
            label{
            cursor:pointer;
            }
            
            
        }
        
    }

}



@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
      --active: #f8f9fc;
      --active-inner: rgb(10, 143, 44);
      --focus: 2px rgba(105, 223, 140, 0.3);
      --border: #BBC1E1;
      --border-hover: #20c42e;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: opacity var(--d-o, .2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: pointer;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: pointer;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type='checkbox'] {
      &:not(.switch) {
        border-radius: 4px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 43deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: .6;
            }
          }
        }
      }
    }

  }


  .calculator__right__inner{
    display: flex;
    box-sizing: border-box;
    padding-top:60px;
    padding-bottom: 20px;
    flex-basis: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;



  }

  .info__window{
    display:flex;
    flex-direction: column;
    align-items:center;
    max-width: 200px;
    padding: 10px;
    
    border-radius: 5px;
    background-color: rgb(255,255, 255);
  }

  .information__content{
    font-family: Source Serif Pro;
  }

  .price__and__order{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Source Serif Pro;
    font-size: 1.3em;

    h5{
      margin:0;
    }
  }

  .show__form__button{
    box-shadow: -3px 0px 16px -5px #000000;
  background-color:#14c743;
  min-width: 100px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:12px 25px;
  text-decoration:none;
  transition: box-shadow .2s ease-in-out;
  
  &:hover{
    box-shadow: -3px 0px 12px -5px #000000;
    transition: box-shadow .2s ease-in-out;
  }
  }
  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    min-width: 20px;
  }